h1{
    text-align:center;
}
.tournDetails{
    text-align:center;
}
form{
    text-align:center;
    margin:50px 0;
}
td, tr, th{
    padding: 10px;
    text-align:center;
}
th{
    text-align:center;
    border:none;
}
input, select{
    max-width:100px; 
    padding:5px;
}

thead{
    background-color:rgb(241,111,15);
    color:white;
    border:1px solid rgb(241,111,15);
}
tr{
    height:60px;
}
.innerTable{
    padding:0;
    margin-right:0;
}
.outerTable{
    padding:0;
    margin-left:0;
}
.headerClass{
    background-color:transparent;
    border:none;
    color:black
}