{%extends 'base.html'%}
{% load static %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'player/playerCredits.css' %}">
{% endblock %}
{% block content %}
<nav>
  <h1>Actions</h1>
  <ul>
    <li><span class="glyphicon glyphicon-home"></span><a href="{% url 'playerOverview' %}">Overview</a></li>
    <li class="active"><span class="glyphicon glyphicon-credit-card"></span><a href="{% url 'playerCredits' %}">Credits</a></li>
    <li><span class="glyphicon glyphicon-tree-conifer"></span><a href="{% url 'playerTournaments' %}">Tournaments</a></li>
    <li><span class="glyphicon glyphicon-tags"></span><a href="{% url 'trade' %}">Trade</a></li>
    <li><span class="glyphicon glyphicon-user"></span><a>Profile</a></li>
  </ul>
</nav>
<div class="dashboard">
  <article class="">
    <header>
      <h1>Credit Breakdown</h1>
      <h2>{{user.username}}</h2>
    </header>
  </article>
  <section>
    <h1>Credits</h1>
      <table>
        <tbody>
          <thead>
              <tr>
                  <th>Date Assigned</th>
                  <th>Amount</th>
                  <th>Expiration Date</th>
                  <th>Status</th>
              </tr>
          </thead>
          {% for credit in activeCredits %}
            <tr>
              <td>{{ credit.date_assigned }}</td>
              <td>{{ credit.credit_amount }}</td>
              <td>{{ credit.expiration_date }}</td>
              <td>{{ credit.get_status_display }}</td>
            </tr>
          {% endfor %}
          {% for credit in expiringCredits %}
            <tr>
              <td><span class="glyphicon glyphicon-alert"></span>{{ credit.date_assigned }}</td>
              <td>{{ credit.credit_amount }}</td>
              <td>{{ credit.expiration_date }}</td>
              <td>{{ credit.get_status_display }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </section>
  <section>
    <h1>Transaction History</h1>
    <h2>Credits Spend</h2>
    <p>Keep track of where your winnings go.</p>
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Amount</th>
                <th>Transaction Reason</th>
                <th>Transaction Date</th>
            </tr>
        </thead>            
        <tbody>
            {% for field in creditsSpent %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ field.amount }}</td>
                <td>{{ field.transaction_reason }}</td>
                <td>{{ field.transaction_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
      <h2>Credits Earned</h2>
      <p>This will list all of the credits that you have earned. Conisder it your personal trophy cabinet.</p>
      <table>
          <thead>
              <tr>
                  <th>Number</th>
                  <th>Amount</th>
                  <th>Transaction Reason</th>
                  <th>Transaction Date</th>
              </tr>
          </thead>            
          <tbody>
              {% for field in creditsRecieved %}
              <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ field.amount }}</td>
                  <td>{{ field.transaction_reason }}</td>
                  <td>{{ field.transaction_date }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </section>
  <section>
    <h1>Expired Credits</h1>
    <table>
        <tbody>
          <thead>
              <tr>
                  <th>Date Assigned</th>
                  <th>Amount</th>
                  <th>Expiration Date</th>
                  <th>Status</th>
              </tr>
          </thead>
          {% for credit in expiredCredits %}
            <tr>
              <td>{{ credit.date_assigned }}</td>
              <td>{{ credit.credit_amount }}</td>
              <td>{{ credit.expiration_date }}</td>
              <td>{{ credit.get_status_display }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p>Avoid letting your credits expire by making your way to your nearest pro shop, or by trading your credits
        for gift cards to your favorite stores and restaurants. Click the "Trade" option in the side panel, or click below 
      for more details.</p>
  </section>
</div>
{%endblock%}
