main{
    text-align:center;
}
h1{
    margin-bottom:20px;
}
table{
    margin:0 auto;
}
td, tr, th{
    padding: 10px;
    text-align:center;
}
th{
    border:none;
}
thead{
    background-color:rgb(241,111,15);
    color:white;
    border:1px solid rgb(241,111,15);
}
tr{
    height:60px;
}