{% load static %}
<!-- Load Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'proShop/shopHomeStyle.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static '/images/blackbutton.png' %}">
<script src="{% static 'proShop/shopHomeJS.js' %}"></script>
<h1>Welcome {{ user.username }}</h1>
<div class="tab">
        <button class="tablinks" onclick="openTab(event, 'profileInfo')">Profile Information</button>
        <button class="tablinks" onclick="openTab(event, 'tournament')">Tournaments</button>
        <button class="tablinks" onclick="openTab(event, 'account')">Account</button>
        <button class="tablinks"><a href="{% url 'logout' %}">Log Out</a></button>
</div>
<div id="tournament" class="tabContent">
        <button class="accordion" onclick="openAccordion('activeTourn')">Active Tournaments</button>
            <div id="activeTourn" class="panel">
                <form method='post'> 
                    {% csrf_token %}   
                    <table>
                        <thead>
                            <th>Number</th>
                            <th>Tournament Name</th>
                            <th>Created On</th>
                            <th>Start Date</th>
                            <th>Remove</th>
                            <th>Update</th>
                        </thead>            
                        <tbody>
                            {% for tournament in activeTournaments %}
                                <tr>     
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ tournament.tournament_name }}</td>
                                    <td>{{ tournament.created_on }}</td>
                                    <td>{{ tournament.tournament_date }}</td>                                    
                                    {% if tournament.status == 1 %}
                                        <td class='buttonCol'><button  type='submit' name='action' value="remove {{tournament.tournament_id}}"  class="btn btn-danger">Remove</button></td>
                                    {% else %}
                                        <td>N/A</td>
                                    {% endif %}
                                    <td class='buttonCol'><button type='submit' name='action' value="update {{tournament.tournament_id}}" class = "btn btn-warning">Update</button></td>
                                </tr>                    
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        <button class="accordion" onclick="openAccordion('tournHist')">Tournament History</button>
            <div id="tournHist" class="panel">
                    <table>
                            <thead>
                                <th>Number</th>
                                <th>Tournament Name</th>
                                <th>Created On</th>
                                <th>Start Date</th>
                                <th>View Details</th>
                            </thead>            
                            <tbody>
                                {% for tournament in expiredTournaments %}
                                    <tr>     
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ tournament.tournament_name }}</td>
                                        <td>{{ tournament.created_on }}</td>
                                        <td>{{ tournament.tournament_date }}</td>
                                        <td class='buttonCol'><button  type='submit' name='action' value="Remove"  class="btn btn-primary">View</button></td>
                                    </tr>                    
                                {% endfor %}
                            </tbody>
                        </table>
            </div>
            <p class='but'><a href="{% url 'registerTournament' %}" class='btn btn-success'>Register A Tournament</a></p>
</div>
<div id="profileInfo" class="tabContent" >
    {% for field in userInfo %}
        <label>Username</label>
        <p>{{ field.username }}</p>
        <label>First Name</label>
        <p>{{ field.first_name }}</p>
        <label>Last Name</label>
        <p>{{ field.last_name }}</p>
        <label>Email</label>
        <p>{{ field.email }}</p>
        <label>Shop Name</label>
        <p>{{ field.userShop.shop_name }}</p>
        <label>PGA Number</label>
        <p>{{ field.userShop.pga_number }}</p>
    {% endfor %}
</div>

<div id="account" class="tabContent">
    <button class="accordion" onclick="openAccordion('Balance')">Current Balance</button>
    <div id='Balance' class='panel'>
            <h4>Current Credit Balance : {{ shopAccount.current_balance }} </h4>
            <p><a href="{% url 'purchaseFunds' %}" class='btn btn-success'>Purchase Credits</a></p>
    </div>
    <button class="accordion" onclick="openAccordion('credRec')">Credits Recieved</button>
    <div id='credRec' class='panel'>
        <table>
            <thead>
                <th>Number</th>
                <th>Amount</th>
                <th>Transaction Reason</th>
                <th>Transaction Date</th>
            </thead>            
            <tbody>
                {% for field in creditsRecieved %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ field.amount }}</td>
                    <td>{{ field.transaction_reason }}</td>
                    <td>{{ field.transaction_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
    <button class="accordion" onclick="openAccordion('credSpen')">Credits Spent</button>
    <div id='credSpen' class='panel'>
        <table>
            <thead>
                <th>Number</th>
                <th>Amount</th>
                <th>Transaction Reason</th>
                <th>Transaction Date</th>
            </thead>            
            <tbody>
                {% for field in creditsSpent %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ field.amount }}</td>
                    <td>{{ field.transaction_reason }}</td>
                    <td>{{ field.transaction_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>