{%extends 'base.html'%}
{% load static %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'proShop/shopOverview.css' %}">
{% endblock %}
{% block content %}
<nav>
  <h1>Actions</h1>
  <ul>
    <li class="active"><span class="glyphicon glyphicon-home"></span><a href="{% url 'shopOverview' %}">Overview</a></li>
    <li><span class="glyphicon glyphicon-credit-card"></span><a href="#">Redeem Credits</a></li>
    <li><span class="glyphicon glyphicon-tree-conifer"></span><a href="#">Tournaments</a></li>
    <li><span class="glyphicon glyphicon-tags"></span><a href="#">Account</a></li>
    <li><span class="glyphicon glyphicon-user"></span><a href="#">Profile</a></li>
  </ul>
</nav>
<div class="dashboard">
  <article class="">
    <header>
      <h1>Overview</h1>
      <h2>{{user.username}}</h2>
    </header>
  </article>
  <div class="stats">
  <section>
    <h2>Tournaments</h2>
    <ul>
      <li><label>Tournaments Hosted</label></li>
      <li><label>Last Tournament</label></li>
      <li><label>Resume Progress</label></li>
      <li><label>Start New Tournament</label></li>
    </ul>
  </section>
  <section>
        <h2>Credits</h2>
        <ul>
          <li><label>Total Given</label><p>{{totalGiven}}</p></li>
          <li><label>Total Redeemed</label><p>{{totalRedeemed}}</p></li>
          <li><label>Expired Credits</label><p></p></li>
          <li><label>Credits about to expire</label></li>
        </ul>
    </section>
    <section>
          <h2>Shop</h2>
          <ul>
            <li><label>Last Transaction</label><p>300</p></li>
            <li><label>Avg Sale</label></li>
            <li><label>Top Customer</label></li>
            <li><a href="#" class='btn btn-success'>Redeem Credits</a></li>
          </ul>
      </section>
  </div>
</div>
{% endblock %}
