{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'tournament/confirm.css' %}">
{% endblock %}
{% block content %}
<h1>Please confirm the following results</h1>
<table >
    <thead>
            <th>Player Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Position</th>
            <th>Amount Won</th>
            <th>Championship Flight</th>
    </thead>
    {% for player in tournamentPlayers %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ player.player.user.first_name }}</td>
            <td>{{ player.player.user.last_name }}</td>
            <td>{{ player.player.user.email }}</td>
            <td>{{ player.player.user.phoneNumber }}</td>
            <td>{{ player.position }}</td>
            <td>{{ player.amount_won }}</td>
            <td>{{ player.get_flight_display }}</td> 
        </tr>
    {% endfor %}
</table>
<form method='post'>
    {% csrf_token %}
    <button type='submit' class='btn btn-success' name='action' value='confirm'>Confirm</button>
    <button type='submit' class='btn btn-warning' name='action' value='edit'>Edit Results</button>
</form>
{% endblock %}