{% load static %}
<!-- Load Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'tournament/confirm.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static '/images/blackbutton.png' %}">
<div class='tournDetails'>
    <h1>Tournament Details</h1>
        <p>Tournament Name: {{ curTournament.tournament_name }}</p>
        <p>Tournament Created On: {{ curTournament.created_on }}</p>
        <p>Tournament Last Updated: {{ curTournament.last_updated }}</p>
        <p>Tournament Date: {{ curTournament.tournament_date }}</p>
        <p>Tournament Prize Pool: {{ curTournament.prize_pool }}</p>
</div>
    <form method='post'> 
            <table>         
                <thead class='headerClass'>
                    <th colspan="3" class='headerClass'>Tournament Roster</th>
                </thead>                
                <tbody>
                    <td class='innerTable'>
                        <table >
                            <thead>
                                    <th>Player Number</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                            </thead>
                            {% for player in tournamentPlayers %}
                            <tr class='rowData'>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ player.player.user.first_name }}</td>
                                <td>{{ player.player.user.last_name }}</td>
                                <td>{{ player.player.user.email }}</td>
                                <td>{{ player.player.user.phoneNumber }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td class='innerTable'>
                        <table class="formTable">
                            <thead>
                                <th>Position</th>
                                <th>Amount Won</th>
                                <th>Flight</th>
                            </thead>
                            {% csrf_token %}
                            {{ forms.management_form }}
                            {% for form in forms %}
                            <tr class='rowData'>
                                <td>{{ form.position }}</td>
                                <td>{{ form.amount_won }}</td>
                                <td>{{ form.flight }}</td>
                            </tr> 
                            {{ form.id }}
                            {% endfor %}
                        </table>
                    </td>  
                </tbody>
            </table>
        <button type='submit' class='btn btn-success'>Submit Results</button>
    </form>