
h1{
    text-align: center;
}
form{
    vertical-align:top;
    max-width:400px;
    margin:100px auto;
}
form input {
    appearance:none;
    width:100%;
    position:relative;
    padding:13px 10px 12px;
    margin:10px auto;
    border:none;
    border-bottom:1px solid #3b3b3b;
  }
form select {
    appearance:none;
    width:33%;
    position:relative;
    padding:13px 10px 12px;
    margin:10px auto;
    border-bottom:1px solid #3b3b3b;
}
form label {
    appearance:none;
    width:100%;
    position:relative;
    left:-10px;
    border-radius:5px;
  }
form input:focus{
    outline:none;    
}
p{
    font-size:18px;
    padding:10px;
    margin:0 auto;
    min-width:50%;
}
button{
    width:50%;
    font-size:18px !important;
    margin:10px auto;
}