{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'exec/execHome.css' %}">
    <script src="{% static 'exec/execJS.js' %}"></script>
{% endblock %}
{% block content %}
<h1 class='sectionTitle'>{{ request.user.execFields.get_section_display }} Section</h1>
<div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Reports')">Reports</button>
        <button class="tablinks" onclick="openTab(event, 'Credit Break Down')">Credit Break Down</button>
        <button class='tablinks' onclick="openTab(event, 'Event')">Events</button>
</div>
<div id="Reports" class="tabContent">
    <h1 class='reportTitle'>Credit Reports</h1>
    <section class = 'reports'>
        <div class = 'reportItem'>
            <h2>Total Credits in Section</h2>
            <p>Total Credits: {{totalCredits}}</p>
        </div>
        <div class = 'reportItem'>
                <h2>Total Active Credits in Section</h2>
                <p>Active Credits: {{activeCredits}}</p>
        </div>
        <div class = 'reportItem'>
            <h2>Total Expiring Credits in Section</h2>
            <p>Expiring Credits: {{expiringCredits}}</p>
        </div>
        <div class = 'reportItem'>
            <h2>Total Expired in Section</h2>
            <p>Expired Credits: {{expiredCredits}}</p>
        </div>
    </section>
    <h1 class='reportTitle'>Shop Reports</h1>
    <section class = 'reports'>
        <div class = 'reportItem'>
            <h2>Most Active Pro Shops</h2>
            <table class = 'reportTable'>
                <thead class='reportHead'>
                    <th>Shop Name</th>
                    <th>Number of Tournaments</th>
                </thead>
                <tbody class='reportBody'>
                {% for shop in mostActive %}
                <tr class='reportRow'>
                    <td class='reportColumn'>{{shop.0}}</td>
                    <td class='reportColumn'>{{shop.1}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class = 'reportItem'>
            <h2>Least Active Pro Shops</h2>
            <table class = 'reportTable'>
                    <thead class='reportHead'>
                        <th>Shop Name</th>
                        <th>Number of Tournaments</th>
                    </thead>
                    <tbody class='reportBody'>
                    {% for shop in leastActive %}
                    <tr class='reportRow'>
                        <td class='reportColumn'>{{shop.0}}</td>
                        <td class='reportColumn'>{{shop.1}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </section>
</div>
<div id="Credit Break Down" class="tabContent">
    <h1>Credit Break Down</h1>
    <table>
        <thead>
            <th>Credit Number</th>
            <th>Credit Owner</th>
            <th>Credit Amount</th>
            <th>Credit Date Assigned</th>
            <th>Credit Expiration Date</th>
            <th>Credit Source</th>
            <th>Credit Status</th>
        </thead>
        <tbody>
            {% for result in sectionCredits %}
            <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ result.owner.account_owner.username }}</td>
                    <td>{{ result.credit_amount }}</td>
                    <td>{{ result.date_assigned }}</td>
                    <td>{{ result.expiration_date }}</td>
                    {% if result.source.account_owner.userShop.shop_name %}
                    <td>{{ result.source.account_owner.userShop.shop_name }}</td>
                    {% else %}
                    <td>{{ result.source.account_owner.execFields.get_section_display }} Section</td>
                    {% endif %}
                    <td>{{ result.get_status_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="Event" class="tabContent">
        <h1>Upcoming Events</h1>
        <table>
            <thead>
                <th>Number</th>
                <th>Name</th>
                <th>Date</th>
                <th>Host Shop</th>
                <th>Prize Pool</th>
                <th>Status</th>
                <th>Update</th>
                <th>Remove</th>
            </thead>
            <tbody>
                <form method='POST'>
                    {% csrf_token %}
                    {% for event in upcomingEvents %}
                    <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ event.event_name }}</td>
                            <td>{{ event.event_date }}</td>
                            <td>{{ event.host_shop }}</td>
                            <td>{{ event.prize_pool }}</td>
                            <td>{{ event.get_status_display }}</td>
                            <td><button type='submit' class='btn btn-primary' name='action' value='update{{event.event_id}}'>Update</button></td>
                            <td><button type='submit' class='btn btn-danger' name='action' value='remove{{event.event_id}}'>Remove</td>
                    </tr>
                    {% endfor %}
                </form>
            </tbody>
        </table>
        <h1>Previous Events</h1>
        <table>
            <thead>
                <th>Number</th>
                <th>Name</th>
                <th>Date</th>
                <th>Host Shop</th>
                <th>Prize Pool</th>
                <th>Status</th>
            </thead>
            <tbody>
                    {% for events in eventHistory %}
                    <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ events.event_name }}</td>
                            <td>{{ events.event_date }}</td>
                            <td>{{ events.host_shop }}</td>
                            <td>{{ events.prize_pool }}</td>
                            <td>{{ events.get_status_display }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    <a href= "{% url 'schedule' %}" class = 'btn btn-primary'>Schedule an Event</a>
</div>
{% endblock %}