{% load static %}
<html>
    <title>Amature Advantage</title>
    <head>
        <!-- Load Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/png" href="{% static '/images/blackbutton.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
        {% block css %}
        {% endblock %}
    </head>
    <header>
        <img src="{% static 'images/AmAdLogo.jpg' %}" height="100" width="250 ">
        <div class="buttonContainer">
            <a href="{% url 'home' %}">Home</a>
            <a class = 'logout' href="{% url 'logout' %}">Log Out</a>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
    </footer>
</html>