{% load static %}
<!-- Load Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- Add Custom CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'homeStyle.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static '/images/blackbutton.png' %}">
<header>
    <img src="{% static 'images/AmAdLogo.jpg' %}" height="100" width="250 ">
</header>
<body>
    <div class="frame">
        <div class='textCont'>
            {% if user.is_authenticated %}
                <p>Hi {{ user.username }}</p>
                <p><a href="{% url 'logout' %}">Log Out</a></p>
            {% endif %}
            <h1 class="siteHeader">Welcome to AmateurAdvantage.com</h1>
            <div class="siteInfo">
                <h2>Where the amateur truly has the advantage!</h2>
                <ul>
                    <li>Universal credit that can be redeemed at any shop using Amateur Advantage.</li>
                    <li>Paperless credit means that your credit is always with you.</li>
                    <li>Exchange your credit for gift cards at your favorite restaurants and stores.</li>
                </ul>
            </div>
        </div>
        <div class="optionContainer">
            <a href="{% url 'registerPlayer' %}"><div class="option registerUser"><div class="iconStyling registerUser"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div><p class="optionItem">Register User</p></div></a>
            <a href="{% url 'registerShop' %}"><div class="option registerTournament"><div class="iconStyling registerTournament"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></div><p class="optionItem">Register Pro Shop</p></div></a>
            <a href="{% url 'login'  %}"><div class="option checkAccount"><div class="iconStyling checkAccount"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span></div><p class="optionItem">Check Account</p></div></a>
        </div>        
    </div>
</body>