{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'registerShop.css' %}">
{% endblock %}
{% block content %}
<div>
    <h1>Register a Pro Shop</h1>
    <form method='post'>
      {% csrf_token %}
      <div class = background> 
        <div class="nameFields">
        {% for field in user_form %}
            <p>{{ field.label_tag }} {{ field }}</p>
        {% endfor %}
            <p>{{formset.as_p}}</p>
            <button type="submit">Register</button>
        </div>
      </div>   
    </form>
<div>
{% endblock %}