{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'registerUser.css' %}">
{% endblock %}
{% block content %}     
    <form method="post">
        <div class=frame>
            {% csrf_token %}
            <div class='info'>
                 <h2>Player Registration</h2>
                 <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                {%for field in user_form %}
                        {% if field.name == "first_name" or field.name == "last_name" or field.name == "username" %}
                            <div class='nameFields'>
                                <p>{{ field.label_tag }} {{ field }}</p>
                            </div>    
                        {% endif %}
                {% endfor %}
            </div>
            <div class='fieldContainer'>
                {{ formset.as_p }}
                {% for field in user_form %}
                    {% if field.name != 'username' and field.name  != 'first_name' and field.name != 'last_name' %}
                        <div class="nameFields">
                            <p>{{ field.label_tag }} {{ field }}</p>
                        </div>
                        {% for error in field.errors %}
                            <p sytle = 'color: red'>{{ error }}</p>
                        {% endfor %}
                    {% endif %}                    
                {% endfor %}
            {% if user_form.errors %}
                 {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                    {% endfor %}
                {% for error in user_form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class='buttonHolder'>
            <button type="submit">Register</button>
        </div>
    </form>
{% endblock %}