body{
    text-align:center;
    padding:0 5vw;
}
table{
    margin:0 auto;
}
td, tr, th{
    padding: 10px;
    text-align:center;
}
th{
    text-align:center;
    border:none;
}
thead{
    background-color:rgb(241,111,15);
    color:white;
    border:1px solid rgb(241,111,15);
}
tr{
    height:60px;
}
.innerTable{
    padding:0;
    margin:0;
}
.headerClass{
    background-color:transparent;
    border:none;
    color:black
}