{% load static %}
<html>
<body style="width:750px; margin:10px auto;">
    <h1 style="margin-top:30px;margin-left:10px;">{{name}},</h1>
    <p style="margin-top:50;margin-left:20px;font-weight:bold;">An Amateur Advantage account has been created for you. Use the following credentials to log into your account.</p>
    <p style="margin-top:20px;margin-left:20px;color:#1b1b1b;">{{username}}</p>
    <p style="margin-top:20px;margin-left:20px;color:#1b1b1b;">{{tempPassword}}</p>
    <p style="margin-top:20px;margin-left:20px;color:#1b1b1b;">Be sure to update your password when you fist log in.</p>
    <h4 style="margin-top:50;margin-left:20px;font-weight:bold;">For any questions or additional help. Please contact us at: HELPEMAIL@amateuradvantage.com</h4>
    <p style="margin-top:20px;margin-left:20px;color:#1b1b1b;">Thanks for using Amateur Advantage!</p>
    <img style="margin-top:20px;margin-left:20px;" src="{% static '/images/AmAdLogo.jpg'%}" height="100" width="250" />
</body>
</html>