<html>
	<body style="width:750px; margin:10 auto;">
		<h1 style="margin-top:30px;margin-left:20px;">Welcome {{name}},</h1>
		<h3 style="margin-top:50;margin-left:20px;font-weight:bold;">Who are we?</h3>
		<p style="margin-top:20px;margin-left:20px;color:#1b1b1b;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium viverra suspendisse potenti nullam ac tortor vitae. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci. Facilisi nullam vehicula ipsum a arcu cursus vitae. Blandit libero volutpat sed cras.</p>
		<h3 style="margin-top:30;margin-left:20px;font-weight:bold;">How can you participate?</h3>
		<p style="margin-top:20px;margin-left:20px;color:#1b1b1b;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium viverra suspendisse potenti nullam ac tortor vitae. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci. Facilisi nullam vehicula ipsum a arcu cursus vitae. Blandit libero volutpat sed cras.</p>
		<h4 style="margin-top:50;margin-left:20px;font-weight:bold;">For any questions or additional help. Please contact us at: HELPEMAIL@amateuradvantage.com</h4>
		<p style="margin-top:50;margin-left:20px;">Thanks for choosing AmateurAdvantage</p>
		<img src="../../static/images/AmAdLogo.jpg" height="100" width="250" />
	</body>
</html>